<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230075521647-sqf2nr40d404mjek6suvo4jmcigbtkoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230075521647-sqf2nr40d404mjek6suvo4jmcigbtkoq</string>
	<key>API_KEY</key>
	<string>AIzaSyAcfiURXWGj7CAoVMrP_Y7YIoeLdt1uyt4</string>
	<key>GCM_SENDER_ID</key>
	<string>230075521647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>save.ai</string>
	<key>PROJECT_ID</key>
	<string>save-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>save-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230075521647:ios:13a90ee75b2c26c0e7cb9a</string>
</dict>
</plist>